@using LogoPaasSampleApp.Resource
@{Layout = "";}

<p><b>unsecure</b> index page</p>
<p>@ResourceEnum.UserInfo.Translate(): @Html.Raw(ViewBag.UserInfo)</p>
<script>
    setTimeout(function(){

        document.location.href="http://localhost:5000/home/index"
    }, 5000)
</script>